    <main class="content center">
      <h2 class="md-typescale-display-small">
        OpenID Connect Authorization Code Flow
      </h2>
      <form id="form" method="GET" action="/authz_code/request-authorization" class="center">
        <p class="instructions">Launch Keycloak and click to process Authorization Code Flow.</p>
        <md-filled-button type="submit">Login</md-filled-button>
      </form>
      <md-text-button onclick="location.href='/'">
        <md-icon slot="icon">arrow_back</md-icon>
        Back to Top page.
      </md-text-button>
    </main>
